includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/
        - tests
        - routes
        - database

    # Level 9 is the highest level
    level: 9

    ignoreErrors:
        - '/^Call to an undefined method Faker\\Generator::subject\(\).$/'
        - '/^(Parameter).*(expects array).*(mixed given.)$/'

    excludePaths:
        - ./routes/console.php
        - ./routes/channels.php
